<div class="offset" id="story"></div>
<div class="mast bridegroom">
  <section class="region region-bridegroom">
    <article id="block-block-2" class="block block-block first ">
      <h2>
        <span class="dk">​The</span> <span class="kg">Bride +</span>
        <span class="dk">The</span> <span class="kg">Groom</span>
      </h2>
      <div class="clearfix">
        <div class="deb left clearfix">
        <%= image_tag(get_image_url('debo.jpg'), class: "left") %>
        <div class="content">
         <h3><span class="dk">Rom-com</span>fan &amp; bookworm</h3>
                 <p>We have known each other for like 5+ years now, I realized that
                   I <strong>LOVED</strong> him only when we joined the same institution
                    for our post graduation and in the very first year with little luck
                    and a twist of fate I realized - oh damn! I have feelings for this boy.
                </p>
                <p class="last"> After he dropped many subtle hints, one **fine night**
                  (The usual hot night in Trichy) I asked him <strong> “Will you be my boyfriend?”
                   </strong>, he said <strong> “Oui!” </strong> After a bit of googling around I knew
                    and then the rest is history!(The present actually) :)
                </p>
        </div>
      </div>
      <div class="nik right clearfix">
        <%= image_tag(get_image_url('nikpik.jpg'), class: "right") %>
        <div class="content">
           <h3><span class="dk">Man U</span> supporter, *nix fanboy &amp; Hindu Nationalist</h3>
                <p>I love the fact that she is so chirpy and full of life, she is my best friend
                  and proclaims to be my well wisher. She has a gorgeous smile and the most
                  beautiful deep eyes.
                </p>
                <p class="last">Ours isn't love at first sight, she passed by me many times
                  before I fell for her but fell for her; I did. She and I possess diameterically
                   opposite qualities which is why we complement each other so well.
                </p>
        </div>
      </div>
    </div>
  </article>
</section>
<canvas id="canvas" width="269" height="292"></canvas>
<%= image_tag(get_image_url('tai.png'), id: "image1", style: "display: none", alt: "tai") %>
<div id="theb-bg">
  <%= image_tag(get_image_url('theb-bg.png'), alt: "Wedding Site Background", width: "168", height: "78") %>
</div>
<div id="thev-bg">
  <%= image_tag(get_image_url('thev-bg.png'), alt: "Wedding Site Background", width: "62", height: "346") %>
</div>
</div>
<!-- TODO : Fix alignment here -->
<div class="offset" id="when"></div>
<div class="mast whenwhere">
  <div id="wherewhere-wrap">
    <div id="slidebox">
      <section class="region region-whenwhere">
        <article id="block-block-3" class="block block-block first ">
          <h2>
            <span class="dk">When</span>
            <span class="kg">and</span>
            <span class="dk">Where</span>
          </h2>
          <div class="clearfix whenwhereblock">
            <div class="left wheremap">
              <a href="http://goo.gl/47GbQ1" target="_blank">
                <%= image_tag(get_image_url('map.jpg')) %>
              </a>
            </div>
            <div class="whereinfo">
              <p class="map-heart"><strong>Wedding : "SARENGI" </strong> SUKANTA NAGAR - 2nd LANE, Jessore Road South </br>P.O. Michael Nagar Kolkata - 700133,<strong>Wednesday 22<sup>nd</sup>, April'15</strong>
              </p>
              <p class="map-mehendi"><strong>Mehendi &amp; Sangeet : "De Kutir" </strong>  - 202, Sukanata Sarani , B.T. College </br> P.O. New Barrackpur Kolkata - 700131,<strong>Tuesday 21<sup>st</sup>, April'15</strong>
              </p>
	      <p class="map-reception"><strong>Reception : "Khetarpal Officers' Institute (KOI)" , </strong> - HQ Western Command,Chandimandir. <strong>Sunday 26<sup>th</sup>,April'15</strong>
	      </p> 
              <p class="map-time"><strong>Ceremony : </strong>Wedding @TBD<br /> Mehendi &amp; Sangeet @TBD <br/> Reception @TBD
              </p>
              <p class="map-driving"><strong>Directions : &nbsp;</strong><a href="http://goo.gl/z96Jrq" target="_blank">To the Banquet Hall</a>
              </br> <a href="http://goo.gl/c9V2LG" target="_blank">To my home! @De Kutir :) </a>
	      </br> <a href="http://goo.gl/lJPA2F" target="_blank">To Reception venue</a>
              </p>
              <p class="map-notsd"><strong>Make sure that you RSVP and we'll make arrangements for your stay and sightseeing in Kolkata and Chandigarh.</p>
            </div>
          </div>
        </article>
      </section>
    </div>
  </div>
</div>

